{
    "extends": [
        "wesbos"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "react/destructuring-assignment": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": true,
                "classes": true,
                "variables": false
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "import/no-extraneous-dependencies": "off",
        "react/prop-types": [
            "error",
            {
                "ignore": [
                    "navigation"
                ]
            }
        ]
    }
}